<!-- Global Term Glossary Modal / Tooltip alternative -->
<div class="modal fade" id="termModal" tabindex="-1" aria-labelledby="termModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-light pb-2">
        <h5 class="modal-title fw-bold text-primary" id="termModalLabel">Term</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="termModalBody">
          <!-- Dynamically populated -->
      </div>
    </div>
  </div>
</div>
